.dark-mode{
    background-color: black;
    color: white;
}
.dark-mode nav{
    background-color: rgb(110, 97, 97);
    color: white;
}
.dark-mode section{
    background-color: rgb(116, 100, 100);
    color: white;
}
.dark-mode .bg-blue-100{
    background-color: black;
    color: white;
}
.dark-mode .bg-white{
    background-color: rgb(24, 17, 43);
}
.dark-mode .text-gray-700{
    color: white;
}